/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700&display=swap');

@font-face {
    font-family: "Aqua Grotesque";
    src: url("../fonts/aqua.ttf");
}

/* VARIABLES */
:root {
  --light: #ECE2D0;
  --mid: #CEBEBE;
  --dark: #231F20;
  --hl-dark: #574D68;
  --hl-red: #f37a8e;
  --hl-blue: #598bf7;
  --hl-green: #61f39b;
  --title: "Aqua Grotesque";
  --mono: "Roboto Mono";
}

/* Global settings, unless overridden */
body {
  font-family: var(--mono);
  font-size: 1.1rem;
  line-height: 1;
  background-color: var(--light);
  color: var(--dark);
}

/* Hero */
.jumbotron {
  text-align: center;
  background-color: var(--light);
  border-radius: 0;
  border-bottom: 20px double var(--dark);
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

/* Classes used for color coding of event blocks */
.past {
  background-color: var(--hl-red);
  color: var(--dark);
}

.present {
  background-color: var(--mid);
  color: var(--dark);
}

.future {
  background-color: var(--hl-green);
  color: var(--dark);
}

/* Title */
h1 {
  font-family: var(--title);
  text-transform: uppercase;
  padding: 10px 0px 0px 0px;
  margin-bottom: 55px;
  color: var(--dark);
  border: var(--dark) solid 7px;
}

/* Paragraph text in hero area */
.lead {
    color: var(--dark);
    font-size: 1.4rem;
}

/* Where current day/date is showed in hero area */
#currentDay {
  background-color: var(--hl-blue);
  color: var(--light);
  font-size: 1.3rem;
  padding: 3px 10px;
  font-weight: 700;
  /* border: var(--dark) solid 3px; */
}

/* Event blocks */
#agenda-list {
  padding: 20px 15px 50px;
}


/* Legend */
#badges {
  text-align: center;
}

/* Legend text */
#legend > p {
  min-width: 80vw;
  text-align: center;
  font-size: 1rem;
}

/* Past, present and future legend keys */
.badge {
  padding: 20px 10px;
  margin: 15px auto;
  width: 7rem;
  font-size: 1.1rem;
  /* border: var(--dark) solid 2px; */
}

/* Buttons */
.button-save {
  color: var(--light);
  width: 10%;
  text-transform: uppercase;
  border: var(--dark) solid 3px;
  background-color: var(--hl-blue);
}

/* Effect on hover for save button */
.button-save:hover {
  box-shadow: 3px 3px black;
}

/* Add a feedback (depress) effect on click */
.button-save:active {
  vertical-align: top;
  padding: 10px 5px 5px 10px;
  box-shadow: none;
}

.hour-row {
    margin: 7px 0px;
}

/* Time text blocks */
.time-text {
  width: 5rem;
  color: var(--light);
  font-family: var(--mono);
  font-weight: 700;
  background-color: var(--hl-dark);
  border: var(--dark) solid 3px;
  border-right: var(--dark) solid 0.5px;
  border-radius: 0;
  margin: 0;
  text-align: center;
}

/* Hourly inputs */
input {
  height: 180px;
}

.event-input {
  padding-left: 20px;
  height: 75px;
  font-family: var(--mono);
  font-size: 1.1rem;
  border: var(--dark) solid 3px;
  margin: 0px 3px 0 0;
}

.far {
    font-size: 2rem;
}

.button-del {
  border: var(--dark) solid 3px;
  position: relative;
  margin: 10px auto;
  background-color: var(--hl-dark);
  color: var(--light);
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 700;
}

.button-del  i {
  color: var(--hl-red);
  padding-left: 10px;
}