@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700&display=swap');

/* TODO: DELETE OSWALD IF NOT USED */

@font-face {
    font-family: "Aqua Grotesque";
    src: url("../fonts/aqua.ttf");
}

:root {
  --light: #ECE2D0;
  --mid: #CEBEBE;
  --dark: #231F20;
  --hl-dark: #574D68;
  /* --highlight: #2F52E0; */
  --hl-red: #f37a8e;
  /* --hl-yellow: #e3fa73; */
  --hl-blue: #598bf7;
  --hl-green: #61f39b;
  /* --hl-teal: #258EA6; */
  --title: "Aqua Grotesque";
  --mono: "Roboto Mono";
}

body {
  font-family: var(--mono);
  font-size: 1.1rem;
  line-height: 1;
  background-color: var(--light);
  color: var(--dark);
}

.jumbotron {
  text-align: center;
  background-color: var(--light);
  border-radius: 0;
  border-bottom: 20px double var(--dark);
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.past {
  background-color: var(--hl-red);
  color: var(--dark);
}

.present {
  background-color: var(--mid);
  color: var(--dark);
}

.future {
  background-color: var(--hl-green);
  color: var(--dark);
}

h1 {
  font-family: var(--title);
  text-transform: uppercase;
  padding: 10px 0px 0px 0px;
  margin-bottom: 55px;
  color: var(--dark);
  border: var(--dark) solid 7px;
}

.lead {
    color: var(--dark);
    font-size: 1.4rem;
}

#currentDay {
  background-color: var(--hl-blue);
  color: var(--light);
  font-size: 1.3rem;
  padding: 3px 10px;
  font-weight: 700;
  /* border: var(--dark) solid 3px; */
}

#agenda-list {
  padding: 20px 15px 50px;
}

#legend > p {
  min-width: 80vw;
  text-align: center;
  font-size: 1rem;
}

#badges {
  text-align: center;
}

.badge {
  padding: 20px 10px;
  margin: 15px auto;
  width: 7rem;
  font-size: 1.1rem;
}

.button-save {
  color: var(--light);
  width: 10%;
  text-transform: uppercase;
  border: var(--dark) solid 3px;
  background-color: var(--hl-blue);
}

.hour-row {
    margin: 7px 0px;
}

.time-text {
  width: 5rem;
  color: var(--light);
  font-family: var(--mono);
  font-weight: 700;
  background-color: var(--hl-dark);
  border: var(--dark) solid 3px;
  border-right: var(--dark) solid 0.5px;
  border-radius: 0;
  margin: 0;
  text-align: center;
}

input {
  height: 180px;
}

.event-input {
  padding-left: 20px;
  height: 75px;
  font-family: var(--mono);
  border: var(--dark) solid 3px;
  margin: 0px 3px 0 0;
}

.far {
    font-size: 2rem;
}