@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=DM+Mono:wght@300;500&family=Josefin+Sans:wght@100;200;400;500;700&family=Readex+Pro:wght@200;300;400;700&display=swap');

:root {
  --light: #fafafa;
  --dark: rgb(77, 77, 77);
  --highlight: #598bf7;
  --header: "Josefin Sans";
  --other: "Readex Pro";
  --mono: "DM Mono";
  --body: "Coda";
}

body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: var(--body);
  font-size: 16px;
  line-height: 1;
  background-color: var(--dark);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  /* background-color: transparent; */
  /* color: black; */
  background-color: var(--dark);
  color: var(--light);
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

/* .saveBtn { */
  /* border: 0; */
  /* border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
  /* background-color: #06aed5; */
  /* background-color: var(--highlight); */
  /* color: white; */
  /* color: var(--light); */
  /* width: 13%; */
/* } */

/* .saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
} */

/* ! Experiementation below */

h1 {
  font-family: var(--header);
  text-transform: uppercase;
  padding: 10px 0px 0px 0px;
  background-color: var(--highlight);
  margin-bottom: 50px;
}



#currentDay {
  color: var(--highlight);
  font-weight: 500;
  padding: 10px;
}


.button-save, .button-del {
  border: 0;
  color: var(--light);
  width: 13%;
  text-transform: uppercase;
  border-bottom: var(--dark) solid 1px;
  border-right: var(--dark) solid 1px;
}


.button-save {
  background-color: var(--highlight);
  /* border-right: var(--dark) solid 2px; */
  border-left: var(--dark) solid 1px;
}
.button-del {
  background-color: #ff6961;
  border-right: var(--dark) solid 1px;
}

.input-group-text {
  border-radius: 0;
  border: 0;
  border-bottom: var(--dark) solid 1px;
  border-left: var(--dark) solid 1px;
  
}
.time-text {
  width: 12%;
  font-family: var(--other);
  background-color: var(--dark);
  color: #fafafa;
  margin: 0;
}

.event-input {
  padding: 20px 0 0 20px;
  font-family: var(--mono);
}